@import url(reset.css);
@font-face {
	font-family: Helvetica_Condenced;
	src: url(fonts/helvetica_condenced-normal_[allfont.ru].ttf);
}
@font-face {
	font-family: OpenSansCondensed_Light;
	src: url(fonts/OpenSansCondensed-Light.ttf);
}
@font-face {
	font-family: CuprumFFU;
	src: url(fonts/Cuprum.otf);
}
@font-face {
	font-family: 'Myanmar Text';
	src: url(fonts/mmrtext.ttf);
}
body{
	background: #f8f8f8;
}
.menu{
	height: 64px;
	box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
	background: -webkit-linear-gradient(90deg, #e8e8e8 0%, #ebebeb 100%);
	background: -moz-linear-gradient(90deg, #e8e8e8 0%, #ebebeb 100%);
	background: -o-linear-gradient(90deg, #e8e8e8 0%, #ebebeb 100%);
	background: -ms-linear-gradient(90deg, #e8e8e8 0%, #ebebeb 100%);
	background: linear-gradient(0deg, #e8e8e8 0%, #ebebeb 100%);
	position: relative;
	z-index: 1;
}
.menu-content{
	width: 862px;
	margin: 0 auto;
	overflow: hidden;
}
.menu-content ul li a{
	display: block;
	float: left;
	padding: 20px 37px 19px 37px;
	background: url(images/menu-line.jpg) right 8px no-repeat;
	text-decoration: none;
	font-family: 'Helvetica_Condenced', sans-serif;
	color:  #5a5a5a;
	font-size: 25px;
	font-weight: 400;
	text-align: left;
	text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.05);
}
.menu-content:first-child{
	background: url(images/menu-line.jpg) left 8px no-repeat;
}
.menu-content ul li a:hover,
.menu-content ul li a.active{
	background: url(images/menu-line.jpg) right 8px no-repeat,
				url(images/menu-hover-bg.png) bottom repeat-x;
	font-weight: 400;
}
.menu-content ul li a:focus{
	color: white;
	background: url(images/menu-hover-bg-focus.jpg) bottom repeat-x #cecece;
}
.baner{
	height: 342px;
	box-sizing: border-box;
	padding-top: 75px;
	background: url(images/baner.jpg) center;
	background-size: cover;
}
.baner-info{
	width: 460px;
	margin: 0 auto;
	font-family: 'OpenSansCondensed_Light', sans-serif;
	color:  #ffffff;
	font-size: 27px;
	font-weight: 300;
	text-align: left;
}
.baner-info div{
	opacity: 0.5;
	margin-bottom: 2px;
}
.wrapper{
	box-shadow: inset 1px 3px 3px -1px rgba(0, 0, 0, 0.41);
}
.content{
	width: 863px;
	margin: 0 auto;
	overflow: hidden;
	box-shadow: 0px 0px 15px 0px #d6d6d6,
				inset 0 4px 3px -2px rgba(0, 0, 0, 0.41);
	background: #f9f9f9;
}
.posts{
	width: 644px;
	box-sizing: border-box;
	border-right: 1px solid #d6d6d6;
	float: left;
	padding-top: 20px;
}
.post-item{
	margin-bottom: 5px;
	border-bottom: 1px solid #d6d6d6;
}
.post-title a{
	display: block;
	padding: 12px 0 12px 22px;
	border-top: 1px solid #d6d6d6;
	border-bottom: 1px solid #d6d6d6;
	background: white;
	text-decoration: none;
	font-family: CuprumFFU, sans-serif;
	color:  #838383;
	font-size: 25px;
	transition: 0.1s ease-out 0.1s;
}
.post-title a:hover{
	color: #107cd8;
}
.post-content{
	overflow: hidden;
	padding: 10px 15px 10px 17px;
	background: url(images/post-text-bg.jpg) no-repeat 255px bottom;
}
.post-picture img{
	float: left;
	box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.12),
				-2px 0px 4px 0px rgba(0, 0, 0, 0.12);
}
.post-text{
	margin-left: 220px;
	padding-top: 6px;
	line-height: 18px;
	font-family: 'Myanmar Text', sans-serif;
	color:  #747474;
	font-size: 14px;
}
.post-footer{
	padding: 6px 8px 4px 6px;
}
.post-footer span a{
	display: inline-block;
	padding: 10px;
	border-right: 1px solid #e1e1e1;
	font-family: CuprumFFU;
	color:  #747474;
	font-size: 14px;
	text-decoration: none;
}
.post-footer span a:hover{
	color: #107cd8;
}
.post-button{
	float: right;
	position: relative;
}
.post-button a{
	width: 109px;
	height: 30px;
	display: block;
	padding-top: 8px;
	box-sizing: border-box;
	text-decoration: none;
	border-radius: 3px;
	background-color:  #107cd8;
	box-shadow: 1px 2px 0px 0px rgba(29, 81, 125, 0.33);
	font-family: CuprumFFU;
	color:  #ffffff;
	font-size: 14px;
	text-align: center;
}
.post-button div{
	display: none;
	position: absolute;
	top: -50px;
	left: -50px;
	width: 218px;
	height: 147px;
	background: url(images/svet.png);
}
.post-button a:hover{
	z-index: 1;
	position: relative;
	background: url(images/button-hover.png);
}
.post-button a:hover + div{
	display: block;
}
.post-button a:active{
	background: #1d517d
}
.post-button a:active + div{
	display: none;
}
.pagination{
	margin: 20px 0 30px 0;
	overflow: hidden;
	text-align: center;
	font-size: 0;
}
.pagination ul li{
	display: inline-block;
}
.pagination ul li a{
	padding: 8px 15px;
	display: block;
	text-decoration: none;
	font-family: CuprumFFU;
	color:  #107cd8;
	font-size: 25px;
	background: url(images/pagination_bg.jpg) no-repeat right center white;
}
.pagination ul li:first-child a{
	padding: 8px 50px 8px 15px;
}
.pagination ul li:last-child a{
	padding: 8px 15px 8px 50px;
	background: white;
}
.pagination ul li a:hover{
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.15);
}
.sidebar{
	width: 219px;
	float: left;
}
.sidebar-buttons{
	margin-top: 15px;
}
.sidebar-buttons a:nth-child(1){
	display: block;
	position: relative;
	width: 204px;
	height: 44px;
	margin: 0 auto 12px auto;
	border-radius: 10px;
	background-color:  #107cd8;
	box-shadow: 1px 2px 0px 0px rgba(29, 81, 125, 0.33);
	text-decoration: none;
	transition: 0.1s ease-out 0.1s;
}
.sidebar-buttons a:nth-child(1):hover{
	background: #2993f0;
}
.register-button-img{
	position: absolute;
	top: 12px;
	left: 19px;
}
.register-button-comment{
	position: absolute;
	top: 5px;
	right: 22px;
	font-family: OpenSansCondensed_Light, sans-serif;
	color:  #ffffff;
	font-size: 13px;
}
.register-button{
	float: right;
	margin: 10px 22px;
	font-family: CuprumFFU, sans-serif;
	color:  #ffffff;
	font-size: 29px;
}
.sidebar-buttons a:nth-child(2){
	display: block;
	position: relative;
	width: 204px;
	height: 44px;
	margin: 0 auto;
	border-radius: 10px;
	background-color:  #615287;
	box-shadow: 1px 2px 0px 0px rgba(29, 81, 125, 0.33);
	text-decoration: none;
	transition: 0.1s ease-out 0.1s;
}
.sidebar-buttons a:nth-child(2):hover{
	background: #7a6aa3;
}
.login-button-img{
	position: absolute;
	top: 12px;
	left: 18px;
}
.login-button-comment{
	position: absolute;
	top: 5px;
	right: 22px;
	font-family: OpenSansCondensed_Light, sans-serif;
	color:  #ffffff;
	font-size: 13px;
}
.login-button{
	float: right;
	margin: 10px 22px;
	font-family: CuprumFFU, sans-serif;
	color:  #ffffff;
	font-size: 29px;
}
.widget-caption{
	padding: 5px 0;
	border-top: 1px solid #d6d6d6;
	border-bottom: 1px solid #d6d6d6;
	background: white;
	font-family: CuprumFFU, sans-serif;
	color:  #838383;
	font-size: 18px;
	text-align: center;
}
.monitoring{
	border-bottom: 1px solid #d6d6d6;
	margin-top: 15px;
}
.server:nth-child(2){
	margin-top: 10px;
}
.server{
	margin: 8px 0 0 5px;
	overflow: hidden;
	font-family: CuprumFFU;
	color:  #838383;
	font-size: 14px;
}
.server.offline .server-online-players{
	width: 150px !important;
}
.server.offline .server-online-players a:after{
	content: " | Тех.Работы";
}
.server-online{
	width: 152px;
	height: 21px;
	position: relative;
	float: left;
	box-sizing: border-box;
	padding: 3px 0 0 6px;
	background: url(images/monitoring-bg-left.jpg) no-repeat,
				url(images/monitoring-bg-right.jpg) no-repeat right,
				url(images/monitoring-bg.jpg);
}
.server-online a{
	text-decoration: none;
	font-family: CuprumFFU;
	color:  #838383;
	font-size: 14px;
}
.server-online-players{
	height: 19px;
	width: 150px;
	overflow: hidden;
	top: 1px;
	left: 1px;
	position: absolute;
	background: url(images/monitoring-players-bg-left.jpg) no-repeat,
				url(images/monitoring-players-bg-right.jpg) no-repeat right,
				url(images/monitoring-players-bg.jpg);
}
.server-online-players a{
	display: inline-block;
	color: #ffffff;
	margin: 2px 0 0 5px;
}
.server-players{
	text-align: center;
	margin-top: 3px;
}
.monitoring-info{
	height: 26px;
	box-sizing: border-box;
	margin-top: 12px;
	padding-top: 5px;
	background: url(images/monitoring-info-line.png) no-repeat top center;
	font-family: CuprumFFU;
	color:  #838383;
	font-size: 11px;
}
.total-online{
	float: left;
	margin-left: 9px;
}
.total-record{
	float: right;
	margin-right: 12px;
}
.vk-widget{
	margin-top: 4px;
	border-bottom: 1px solid #d6d6d6;
}
.vk-widget img{
	margin: 2px 0 4px 0;
}
.golos-widget{
	margin-top: 6px;
	padding-bottom: 8px;
	border-bottom: 1px solid #d6d6d6;
}
.golos-widget .widget-caption{
	margin-bottom: 4px;
}
.banners{
	text-align: center;
	font-size: 0;
}
.banners a{
	display: inline-block;
	margin: 0 14px 8px 0;
}
.banners a:nth-child(2n){
	margin-right: 0;
}
.golos-info{
	margin-top: 6px;
	font-family: CuprumFFU;
	color:  #838383;
	font-size: 11px;
	text-align: center;
}
footer{
	border-top: 1px solid #d6d6d6;
}
.footer-text{
	box-sizing: border-box;
	height: 202px;
	width: 862px;
	margin: 0 auto;
	background: #f9f9f9;
	padding-top: 67px;
}
.copyright{
	float: left;
	margin-left: 18px;
	font-family: CuprumFFU;
	color:  #969696;
	font-size: 18px;
}
.footer-text>a{
	float: right;
	margin: 10px 53px 0 0;
}